#map-rwd {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#map-rwd #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}